* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content
{
    width: 400px;
    height: 250px;
    border: solid 1px #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login
{
    padding: 15px;
}

form
{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.error
{
    height: auto;
    text-align: center;
    background-color: #f77;
    color: #c00;
    width: 400px;
    border: solid 4px #c00;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
    display: flex;
}

.show
{
	display: block !important;
}

nav ul
{
    list-style: none;
    border-bottom: solid 2px #000;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav ul li
{
    margin-left: 25px;
}

.home
{
    display: flex;
}

.greeting
{
    width: 30%;
    height: 250px;
    border: solid 1px #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.excerptCustomer
{
    width: 34%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.excerptsCustomers
{
    text-align: center;
    width: 400px;
    border: solid 1px #000;
}

.home ul
{
    list-style: none;
    border-bottom: solid 1px #000;
}

.customer
{
    width: 500px;
    height: 250px;
    border: solid 1px #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.custInfo
{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
